:root{
    --large-planet-size: 250px;
    --small-planet-size: 100px;
    --main-background-color: #1f1f1e;
    --cell-background-color: rgb(97, 97, 97);
    --cell-hover-color:rgb(51, 36, 36);
  --title-color: #000000;

    --home-background-color: #ffffff;
    --card-color: #9b9898;
    --card-hover-color: #10141f;
    --sun-color: #FCE570;
    --mercury-color: #B7B8B9;

    --venus-color: #FFC649;
    --earth-color: rgb(54, 133, 54);
    --mars-color: #a82932;
    --jupiter-color: #7a7173;
    --saturn-color: #cf775c;

    --uranus-color: #91c5cc;
    --neptune-color: #177496;
}


body {
    font-family: Helvetica, sans-serif;
    color: white;
    background: var(--HOME-background-color);
    padding: 0 40px;
    text-align: left;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
    padding-top: 50px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 15em;
    gap: 40px;
}



.cell {
    background: var(--cell-background-color);
    color: black;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
}


.cell:hover {
    background: var(--cell-hover-color);;
    color:white;
}

.cell.one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 40px;
}

.cell.one .planet {
    height: var(--large-planet-size);
    width: var(--large-planet-size);
    border-radius: 50%;
    margin: 50px 40px;
}

.planet {
    height: var(--small-planet-size);
    width: var(--small-planet-size);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 30px 120px;
}

.cell.one span.planetName {
    font-size: 50px;
    margin: 80px;
}

.cell.one span.secondaryText {
    font-weight: normal;
    font-size: 30px;
}

.planetName {
    font-size: 30px;
}

.secondaryText {
    font-weight: normal;
    font-size: 20px;
    padding-top:5px;
}

.sun{
    background-color: var(--sun-color);
}

.mercury{
     background-color: var(--mercury-color);
}

.venus{
   background-color: var(--venus-color);
}

.earth{
    background-color: var(--earth-color);
}

.mars{
    background-color: var(--mars-color);
}

.jupiter{
   background-color: var(--jupiter-color);
}

.saturn{
    background-color: var(--saturn-color);
}

.uranus{
    background-color: var(--uranus-color);
}

.neptune{
   background-color: var(--neptune-color);
}